{# {% set brands2 = runSnippet('DocLister', {
    parents: baseSettings['catalog_number'],
    depth: 0,
    orderBy: 'menuindex',
    order: 'ASC',
    tvList:'',
    ownerTPL: '@CODE:     [+dl.wrap+]',
    tpl:'@CODE: <a href="[+url+]" class="col-6 col-sm-4 col-md-3 col-lg-2">[+pagetitle+]</a>',
    api: 0,
    addWhereList: 'isfolder=1',
    noneTPL:'@CODE: <div class="container">
	<div class="row">
		<div class="col text-center">
			<h2 class="display-4 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
		</div>
	</div>
</div>',
}) %}
				{{ brands2 | raw }} #}
{% set brands2 = runSnippet('DocLister', {
    parents: baseSettings['catalog_number'],
    depth: 0,
    orderBy: 'menuindex',
    order: 'ASC',
    tvList:'',
    ownerTPL: '@CODE:     [+dl.wrap+]',
    tpl:'@CODE: <a href="[+url+]" class="brand-item">
    <img src="[+tv.image+]" class="brand-logo">
     <span class="brand-title">[+pagetitle+]</span>
     <span class="brand-count">[+count+]</span></a>',
    api: 0,
    addWhereList: 'isfolder=1',
    noneTPL:'@CODE: <div class="container">
	<div class="row">
		<div class="col text-center">
			<h2 class="display-4 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
		</div>
	</div>
</div>',
}) %}
    <div class="brands-container">   
        		{{ brands2 | raw }}
                <button id="show-all-brands" class="show-all-brands"> Показать ещё</button>
    </div>
        {# <div class="brands-container">
        {% for brand in brands %}
        <a href="{{ brand.url }}" class="brand-item">
            <img src="{{ brand.logo_url }}" alt="{{ brand.pagetitle }}" class="brand-logo">
            <span class="brand-title">{{ brand.pagetitle }}</span>
            <span class="brand-count">{{ brand.count }}</span>
        </a>
        {% endfor %}
    </div> #}
    <style>

    </style>

