{% set baseSettings = runSnippet('helpers', {action: 'getBaseSettings'}) %}
{% set configuration_id = runSnippet('DocLister', {
    id: resource.id, tvList: 'configuration_id', display: 1, tpl: '@CODE:[+tv.configuration_id+]'} ) %}

{% set photo = data['image_format'] %}
{% set modifications = data['tv.car_modifications'] | json %}

{% set price = data["tv.car-price"] %}
{% if price is empty %}
    {% set price = 0 %}
{% endif %}

{% set mounth_pay = price / 82 %}
{% set mounth_pay = mounth_pay | round | number_format(0, '.', ' ') %}

<div class="item position-relative"><a href="{{ data['url'] }}">
        <span class="hit position-absolute py-1 px-3">HIT</span>
        <div class="image model--image" style="background-image: url('{{ photo }}')"></div>
        <div class="p-3">
            <a href="{{ data.url }}"
               class="name d-block mb-2 model--title">{{ runSnippet ('DocInfo', {docid:data.parent, field:pagetitle}) |raw }} {{ data['title'] }} </a>
            {# <div class="row data text-center">

            </div> #}
            <div class="row data text-center">
                <!-- Placeholder for flexible space -->
            </div>
            <div class="config_car row text-center mt-1 mb-1">
                <div class="col-4 d-flex flex-column justify-content-start align-items-center">
                    <img src="/templates/major/img/tabler_engine.png" alt="Объём">
                    <p>{{ modifications['Modification#0']['items']['engine_volume']['value'] | default("-") }}</p>
                </div>
                <div class="col-4 d-flex flex-column justify-content-start align-items-center">
                    <img src="/templates/major/img/fluent_transmission-24-filled.png" alt="Коробка передач">
                    <p>{{ modifications['Modification#0']['items']['gear']['value'] | default("-") }}</p>
                </div>
                <div class="col-4 d-flex flex-column justify-content-start align-items-center">
                    <img src="/templates/major/img/fluent_drive-train-24-regular.png" alt="Привод">
                    <p>{{ modifications['Modification#0']['items']['drive']['value'] | default("-") }}</p>
                </div>
            </div>

            <div class="price mb-3">
                {% if data["tv.old-car-price"] %}
                    <span class="old d-inline-block mb-1">{{ data["tv.old-car-price"] }} ₽</span>
                {% endif %}

                {% if price %}
                    <div class="new">
                        {{ price }} ₽
                    </div>
                {% endif %}
            </div>
            <div class="buttons">
                {# <button data-fancybox="" data-src="#popupCredNew2" class="w-100 mb-2">В кредит
                    от {% if baseSettings.credit_rate is empty %}
                    4.9
                    {% else %}
                        {{ baseSettings.credit_rate }}
                    {% endif %}%
                </button> #}
                <button class="w-100 mb-2" type="button" onclick="openPopupForm(this)"
                    data-title="{{ runSnippet ('DocInfo', {docid:data.parent, field:pagetitle}) |raw }} {{ data['title'] }}"
                    data-image="{{ photo }}"
                    data-price="{{ price }}"
                    data-engine-volume="{{ modifications['Modification#0']['items']['engine_volume']['value'] }}"
                    data-gear="{{ modifications['Modification#0']['items']['gear']['value'] }}"
                    data-drive="{{ modifications['Modification#0']['items']['drive']['value'] }}"
                    data-info="{{ modifications['Modification#0']['value'] }}"
                    data-kred-car-price="{{ mounth_pay }}">
                    В кредит
                    от {% if baseSettings.credit_rate is empty %}
                    4.9
                    {% else %}
                        {{ baseSettings.credit_rate }}
                    {% endif %}%
                </button>
                {# <button data-fancybox="" data-src="#popupCredNew2" class="w-100 mb-2">Забронировать</button> #}
                <button class="w-100 mb-2" type="button" onclick="openPopupForm(this)"
                    data-title="{{ runSnippet ('DocInfo', {docid:data.parent, field:pagetitle}) |raw }} {{ data['title'] }}"
                    data-image="{{ photo }}"
                    data-price="{{ price }}"
                    data-engine-volume="{{ modifications['Modification#0']['items']['engine_volume']['value'] }}"
                    data-gear="{{ modifications['Modification#0']['items']['gear']['value'] }}"
                    data-drive="{{ modifications['Modification#0']['items']['drive']['value'] }}"
                    data-info="{{ modifications['Modification#0']['value'] }}"
                    data-kred-car-price="{{ mounth_pay }}">
                    Забронировать
                </button>
                <button class="w-100" onclick="location.href='{{ data.url }}';">Подробнее</button>
            </div>
        </div>
    </a>
</div>
