{# <form class="form">
    <input type="hidden" name="docid" value="{{ data.docid | default(resource.id) }}">
    <input type="hidden" name="price" value="{{ data.yourprice | default(resource[car-price]) }}" data-price>
    {{ data['form.messages'] | raw }}

    <div class="modal-content border-0">
        <div class="modal-header border-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-titles">
        
            <h1 class="col-12 text-center"><span class="city">ТЮМЕНЬ</span><br>ПРОБЕГ</h1>
            <h5 class="modal-title text-center" id="feedbackLabel">Забронировать</h5>
            <p class="text-center">Наши специалисты ответят на все интересующие вопросы</p>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <input class="form-control {{ data['first_name.classname'] }}" type="text" placeholder="Ваше имя" id="first_name" name="first_name" value="{{ data.first_name }}" />
            </div>
            <div class="mb-3">
                <input class="form-control phone-imask phone-mask {{ data['mobile_tel.classname'] }}" type="tel" name="mobile_tel" id="mobile_tel" placeholder="+7 (___) ___-__-__" value="{{ data.mobile_tel }}" />
            </div>
            <button class="btn text-white text-nowrap">Позвоните мне</button>
            <p class="consent text-center">Нажимая кнопку «Позвоните мне», Вы принимаете <a href="#">условия обработки персональных данных</a>.</p>
        </div>
    </div>
</form> #}
<form class="form">
    <input type="hidden" name="docid" value="{{ data.docid | default(resource.id) }}">
    <input type="hidden" name="price" value="{{ data.yourprice | default(resource[car-price]) }}" data-price>
    {{ data['form.messages'] | raw }}
        <div class="modal-body">
            <div class="mb-3">
                <input class="form-control {{ data['first_name.classname'] }}" type="text" placeholder="Ваше имя" id="first_name" name="first_name" value="{{ data.first_name }}" />
            </div>
            <div class="mb-3">
                <input class="form-control phone-imask phone-mask {{ data['mobile_tel.classname'] }}" type="tel" name="mobile_tel" id="mobile_tel" placeholder="+7 (___) ___-__-__" value="{{ data.mobile_tel }}" />
            </div>
            <button class="btn text-white text-nowrap">Позвоните мне</button>
            <p class="consent text-center">Нажимая кнопку «Позвоните мне», Вы принимаете <a href="#">условия обработки персональных данных</a>.</p>
        </div>
    
</form>

