<form>
  <div class="bg cred p-sm-5 pl-4 pr-4 pb-4 pt-2 text-light">
    <input type="hidden" name="docid" value="{{ data.docid | default(resource.id) }}">
    <input type="hidden" name="price" value="{{ data.yourprice | default(resource[car-price]) }}" data-price>
    {{ data['form.messages'] | raw }}
    <div class="name mb-3">
      Заявка на рассрочку
    </div>
      <div class="row">
        <div class="item col-md-12 mb-3">
          <p class="mb-2 item-cred-text">Период рассрочки</p>
            <div class="price2 mb-4">
              <input type="text" id="amount6" readonly> <a href="#" class="edit"></a>
            </div>
            <div id="slider-range-max4"></div>
              <div class="values flex mt-3">
                <div>36 мес</div>
                <div>48 мес</div>
                  <div>36 мес</div>
                  <div>56 мес</div>
                  <div>96 мес</div>
              </div>
            </div>
            <div class="item col-md-12 mb-3">
              <p class="mb-2 item-cred-text">Первоначальный взнос</p>
              <div class="price2 mb-4">
                <input type="text" id="amount5" readonly> <a href="#" class="edit"></a>
              </div>
              <div id="slider-range-max5"></div>

            </div>

            <div class="col-md-12 mb-3">
                <p class="mb-2">Имя</p>
                <input type="text" placeholder="Иван" class="w-100 px-3 {{ data['first_name.classname'] }}" id="formName" name="first_name" value="{{ data.first_name }}">
            </div>
            <div class="col-md-12 mb-2">
                <p class="mb-2">Телефон</p>
                <input type="text" name="mobile_tel" id="mobile_tel" value="{{ data.mobile_tel }}" placeholder="+7 (___) ___-__-__" class="{{ data['mobile_tel.classname'] }} w-100 px-3">
            </div>
            <div class="col-md-12">
                <button class="w-100 mt-3">Оставить заявку</button>
            </div>
            <div class="col-xl-12 mt-1">
                <div class="form-bottom-text">
                    Нажимая на кнопку "Отправить заявку" вы даете согласие на обработку <a href="/policy">персональных данных</a>
                </div>
            </div>
    </div>   
    </div>
</form>
<style>

.alert.text-field-error{
    color: #3B80CC;
}
.popup .bg.cred .item2 .item-cred-text {
    color: #98AEC3;
    font-size: 14px;
}
.popup .bg.cred .item .price2 input[type='text'] {
    background: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #181818;
    width: 100px;
}
.popup .bg.cred .item .price2 input[type='text'] {
    background: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #181818;
    width: 100px;
}
.popup .bg.cred .item .price2 .edit {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(/templates/major/img/edit.svg);
    margin: -2px 0 0 6px;
}
.popup .bg.cred .item .ui-widget.ui-widget-content{
  border: 0;
}
.popup .bg.cred .item .ui-slider-horizontal {
  height: 4px;
}
.popup .bg.cred .item .ui-widget-content {
  background: #3B80CC;
}
.popup .bg.cred .item .ui-widget-header {
  background: #F2F3F7;
}
.popup .bg.cred.item .ui-state-default,
.popup .bg.cred .item .ui-widget-content .ui-state-default,
.popup .bg.cred .item .ui-widget-header .ui-state-default,
.popup .bg.cred .item .ui-button,
.popup .bg.cred .item html .ui-button.ui-state-disabled:hover,
.popup .bg.cred .item html .ui-button.ui-state-disabled:active {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 3px solid #3B80CC;
  margin: -2px 0 0 -8px;
}

.popup .bg.cred .item2 .values {
  color: #838383;
}
.popup .bg.cred .item2 .values div {
  position: relative;
}
.popup .bg.cred .item2 .values div:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  width: 1px;
  height: 6px;
  background: #F2F3F7;
  margin-bottom: 10px;
}
.popup .bg.cred .item .payments div:last-child {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #3B80CC;
}


</style>
