<!DOCTYPE html>
{% set site_start = modx.config['site_start'] %}
{% set cacheKey = md5(site_start ~ "major" ~ "325312") %}
{% set title = resource.longtitle | default(resource.pagetitle) | parser %}
{% set baseSettings = runSnippet('helpers', {action: 'getBaseSettings'}) %}
{# {% set favicon = runSnippet('phpthumb', {input: baseSettings['logo'], options:'w=16,h=16,f=png,far=C, zc=L'}) %} #}
{% set faviconSizes = [16, 32, 64, 128] %}

{% for size in faviconSizes %}
  {% set favicon = runSnippet('phpthumb', {input: baseSettings['favicon'], options:'w=' ~ size ~ ',h=' ~ size ~ ',f=png,far=C, zc=L'}) %}
<link rel="icon" type="image/png" sizes="{{ size }}x{{ size }}" href="{{ favicon }}"/>
{% endfor %}
{% set city = runSnippet('UltimateParent', {}) %}
{% set city = runSnippet('DocInfo', {field: pagetitle, docid: city}) %}

    {% set marks = runSnippet('DocLister', {
        _filters: 'AND(tv:mark_id:=:' ~ brand ~ ')',
        parents: baseSettings['catalog_number'],
        depth: 0,
        addWhereList: 'isfolder=1 AND c.template=17',
        tpl:'@T_FILE:partials/catalogcard',
        api: 1,
        debug: 0,
    }) %}
    {% set marks = marks|json %}

{% set meta = runSnippet("getMeta") %}

<html lang="ru" prefix="og: http://ogp.me/ns#">

<head>
    <base href="{{ config.site_url }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ meta.title | parser }}</title>
    <meta name="description" content="{{ meta.description | parser }}">
    <meta name="keywords" content="{{ meta.keywords | parser }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ favicon }}" type="image/png">
    <meta name="color-theme" content="">
    {# <link rel="apple-touch-icon" sizes="60x60" href="static/favicon/apple-touch-icon.png"> #}
    {# <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png"> #}
    {# <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png"> #}
    {# <link rel="mask-icon" href="static/favicon/safari-pinned-tab.svg" color="#5bbad5"> #}
    <meta name="msapplication-TileColor" content="#5bbad5">
    <link rel="stylesheet" href="assets/site/bootstrap/css/bootstrap.min.css">
    {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">     #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" /> #}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="assets/site/fancybox/jquery.fancybox.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/templates/major-bu/css/style.css">
    <link rel="stylesheet" href="/templates/major-bu/css/style2.css">
    <link rel="stylesheet" href="/templates/major-bu/css/color1.css">
    <link rel="stylesheet" href="/templates/major-bu/css/slick.css">
    {{ baseSettings.scripts_head | raw }}
    {% set isPageSpeed = runSnippet('helpers', {action:'checkPageSpeed'}) %}
    {% block HEAD %}{% endblock %}
</head>


<body id="top">
{% cache 'header' ~ cacheKey %}
    {% include('partials/header.twig') %}
{% endcache %}
{{ baseSettings.scripts_body | raw }}

{% if baseSettings.site_id is not empty %}
    <input type="hidden" id="ct-site-id" value="{{ baseSettings.site_id }}">

{% endif %}
<div class="d-none" id="vk-id">{{ baseSettings.vk_id }}</div>
<div class="d-none" id="metrik-id">{{ baseSettings.metrik_id }}</div>
<main class="main">
    {% block MAIN %}{% endblock %}
    {% include('partials/scripts.twig') %}
</main>
{% cache 'footer' ~ cacheKey %}
    {% include('partials/footer.twig') %}
    {% include('partials/popup.twig') %}
{% endcache %}
{% block SCRIPTS %}{% endblock %}

<script type="text/javascript">
  $(document).ready(function () {
    function updateResults () {
      const creditAmount = $('#slider-range-max3').slider('value')
      const downPayment = $('#slider-range-max5').slider('value')
      const term = $('#slider-range-max4').slider('value')
      const creditRate = 0.1
      const monthlyPayment = (creditAmount - downPayment) * (creditRate / 12) / (1 - Math.pow(1 + creditRate / 12, -term))

      $('.tbl1 tr:nth-child(1) td:nth-child(2)').text(creditAmount.toLocaleString() + ' ₽')
      $('.tbl1 tr:nth-child(2) td:nth-child(2)').text(downPayment.toLocaleString() + ' ₽')
      $('.tbl1 tr:nth-child(3) td:nth-child(2)').text(term + ' месяцев')
      $('.tbl2 tr:nth-child(1) td:nth-child(2)').text(Math.round(monthlyPayment).toLocaleString() + ' ₽/мес.')
    }

    function updateDownPaymentSlider (creditAmount) {
      const minDownPayment = 0.1 * creditAmount
      const maxDownPayment = 0.9 * creditAmount
      let currentDownPayment = $('#slider-range-max5').slider('value')

      if (currentDownPayment < minDownPayment) {
        currentDownPayment = minDownPayment
      } else if (currentDownPayment > maxDownPayment) {
        currentDownPayment = maxDownPayment
      }

      $('#slider-range-max5').slider('option', 'min', minDownPayment)
      $('#slider-range-max5').slider('option', 'max', maxDownPayment)
      $('#slider-range-max5').slider('value', currentDownPayment)

      $('#amount5').val(currentDownPayment.toLocaleString() + ' ₽')
    }

    $('#slider-range-max3').slider({
      range: 'max',
      min: 100000,
      max: 1000000,
      value: 500000,
      slide: function (event, ui) {
        $('#amount3').val(ui.value.toLocaleString() + ' ₽')
        updateDownPaymentSlider(ui.value)
        updateResults()
      }
    })

    $('#slider-range-max5').slider({
      range: 'max',
      min: 10000,
      max: 900000,
      value: 250000,
      slide: function (event, ui) {
        $('#amount5').val(ui.value + ' ₽')
        updateResults()
      }
    })

    $('#slider-range-max4').slider({
      range: 'max',
      min: 12,
      max: 60,
      value: 12,
      slide: function (event, ui) {
        $('#amount6').val(ui.value + (ui.value > 12 && ui.value < 60 ? ' месяца' : ' месяцев'))
        updateResults()
      }
    })

    updateResults()
  })
</script>

<div name="213" id="loader"></div>
</body>
{% set stats = runSnippet('helpers', {action:'stats'}) | json %}
<!-- Memory: {{ stats.phpMemory }}, MySQL: {{ stats.queryTime }}, {{ stats.queries }} request(s), PHP: {{ stats.phpTime }}, total: {{ stats.totalTime }}, document retrieved from {{ stats.source }}, ID: {{ resource.id }} -->

</html>
