
<form class="application-form">
    <div class="form-container row">
		<input type="hidden" name="docid" value="{{ data.docid | default(resource.id) }}">
		{{ data['form.messages'] | raw }}
		<div class="form-header-mob">
			<h2>Оставить заявку на</h2>
        	<h1>Volkswagen Multivan 2022</h1>
        </div>
		<div class="col-lg-5 col-12">
			<img src="https://s2.server.multiauto.site/blurred/1117454160-05f18c13/912f6829228e1ff31be11ab0f9b019d3.webp" alt="Volkswagen Multivan 2022">
		</div>
		<div class="col-lg-7 col-12">
			<div class="form-header">
				<h2>Оставить заявку на</h2>
				<h1>Volkswagen Multivan 2022</h1>
			</div>
        	<div class="car-details1 flex">
                <div class="detail">Пробег: </div>
				<strong>55360 км</strong>
			</div>
			<div class="car-details1 flex">
                <div class="detail">Год выпуска:</div> <strong>2019</strong>
			</div>

			<div class="details2 row mt-2">
				<div class="row ml-1">
					<div class="d-flex align-items-center justify-content-center pt-1">
						<img src="/templates/autodm3/img/imgpop1.svg" alt="">
					</div>
					<div class="p-0  pl-1 pt-1">
						<p class="text-left body-conf">Бензин</p>
					</div>
				</div>
				<div class="row ml-1">
					<div class="d-flex align-items-center justify-content-center pt-1">
						<img src="/templates/autodm3/img/imgpop2.svg" alt="">
					</div>
					<div class="p-0  pl-1 pt-1">
						<p class="text-left title-conf">Полный</p>
					</div>
				</div>
				<div class="row ml-1">
					<div class="d-flex align-items-center justify-content-center pt-1">
						<img src="/templates/autodm3/img/imgpop3.svg" alt="">
					</div>
					<div class="p-0  pl-1 pt-1">
						<p class="text-left title-conf">Автоматическая</p>
					</div>
				</div>
				<div class="row ml-1">
					<div class="d-flex align-items-center justify-content-center pt-1">
						<img src="/templates/autodm3/img/imgpop1.svg" alt="">
					</div>
					<div class="p-0  pl-1 pt-1">
						<p class="text-left title-conf">Бензин</p>
					</div>
				</div>
			</div>

			<div class="details row mt-3">
				<div class="price">
					<span>Цена:</span> <span><strong>1 000 000 ₽</strong></span>
				</div>
				<div class="price">
					<span class="old-price">Цена без скидки:</span> <span><del>2 000 000 ₽</del></span>
				</div>
			</div>
            
        	<div class="credit-info mt-3">
            	<h3>Кредит</h3>
				<div class="flex" style="border-bottom: 1px solid #D8D8D8;">
            	<p>Процентная ставка: </p><strong>от 4,9% годовых</strong>
			</div>
			<div class="flex" style="border-bottom: 1px solid #D8D8D8;">
            <p>Ежемесячный платеж:</p> <strong>от 15 049 ₽</strong>
			</div>
        </div>      
    </div>
    <div class="group-button col-12">
	        <div class="form-group">
            <div class="col-6">
                <input type="text" placeholder="Ваше имя" name="first_name" class="w-100 mb-3 px-3 {{ data['first_name.classname'] }}" id="first_name" value="{{ data.first_name }}">
            </div>
            <div class="col-6">
                <input type="text" placeholder="Ваш телефон" name="mobile_tel" class="w-100 mb-3 px-3 {{ data['mobile_tel.classname'] }}" id="mobile_tel" value="{{ data.mobile_tel }}">
            </div>
        </div>
				<button type="submit" class="submit-btn" class="col-12">Оставить заявку</button>
        <p class="consent col-12">Нажимая кнопку «Оставить заявку», вы принимаете <a href="/policy">условия обработки персональных данных</a>.</p>
    </div>
</form>

<style>

.application-form .form-container {
    position: relative;
}



.application-form .form-header h2 {
    margin: 0;
    font-size: 18px;
    color: #666;
}

.application-form .car-details1.row {
    padding-left: 16px;
    margin-top: 12px;
}

.application-form .detail {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: #81869A;
    
}
.application-form .detail p{
	color:#000000;
}

.application-form .details {
    margin-left: 20px;
}

.application-form .details ul {
    list-style: none;
    padding: 0;
}

.application-form .details li {
    margin: 5px 0;
}

.application-form .price {
    margin-top: 10px;
	    display: flex;
    flex-direction: column;
    width: 50%;
}
.application-form .price span{
	font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
text-align: left;
color:#81869A;
}
.application-form .price span strong{
font-family: 'Roboto';
font-size: 33px;
font-weight: 700;
line-height: 42.19px;
text-align: left;
}


.application-form .price .old-price {
    color: #999;
    text-decoration: line-through;
}

.application-form .credit-info h3 {
margin: 0;
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 28.8px;
text-align: left;
color: #6D6D6D;
margin-bottom: 13px;

	
}
.application-form .credit-info p{
	font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
text-align: left;
color:#81869A;
}
.application-form .credit-info p strong{
	font-family: Roboto;
font-size: 16px;
font-weight: 600;
line-height: 18.75px;
text-align: right;
color:#B71F25;

}

.application-form .form-group {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.application-form .form-group input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.application-form .submit-btn {
    background-color: #B71F25;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.application-form .consent {
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-top: 10px;
}

.application-form .consent a {
    color: #B71F25;
}


div#trade-in-popup {
    width: 80%;
    border-radius: 10px;
}

div#trade-in-popup .application-form .form-header h1 {
    font-weight: bold;
    font-family: 'Fira Sans';
    font-size: 64px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
    margin-bottom: 20px;
}
div#trade-in-popup .details2 .row div img{
    max-width: 75%;
}
.application-form .details2.row.mt-2 {
    display: flex;
    justify-content: space-between;
    padding: 0 9px;
}
.application-form .details2 .row{
	display: flex;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
}
div#trade-in-popup .details2 .row div p{
    font-size: 12px;
    color: #646464;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}
.group-button.col-12 {
    padding: 0 8%;
}
div#trade-in-popup .details1{
    margin-top: 12px;
}



</style> 


