{% extends 'app.twig' %}
{% block MAIN %}
{% set catalog_number = baseSettings['catalog_number'] %}
{% set cardphoto = runSnippet('morephoto', {
images: resource["car_photos"],
image: resource.car-photos,
phpthumb: 'w=570,h=0',
ownerTPL: '[+wrap+]',
display: 1
})
%}

{% set price = resource['car-price'] | default(0) %}

{#{{ runSnippet('carday', {carprice: resource["car-price"] }) | raw}} #}
{% set oldprice = runSnippet('helpers', {caroldprice: resource['car-price'],
action:'caroldprice'}) %}
{% set month = runSnippet('helpers', {carmonth: resource['car-price'],
action:'carmonth'}) %}
{% set vigoda = oldprice - resource['car-price'] %}
{% set gifts = runSnippet('DocLister', {
display: 3,
parents: 24,
depth: 0,
tvList:'image,color',
tpl:'@T_CODE: <div class="gift__item">
    <div style="background: linear-gradient(to bottom, {{ data[\'tv.color\'] }} 0px, {{ data[\'tv.color\'] }} 123px, #ffffff 123px, #ffffff 100%)" class="gift-item gift-item--transit">
        <div class="gift-item__text-wrap">
            <div class="gift-item__text">{{ data.title }}</div>
        </div>
        <div class="gift-item__photo-wrap">
            <img style="max-width:130px" src="{{ runSnippet(\'phpthumb\', {input: data[\'tv.image\'], options:\'w=130,h=130,zc=1\'}) }}" alt="{{ data.title }}" class="gift-item__photo">
        </div>
    </div>
</div>'
})%}
{% set DLCatalog = runSnippet('DocLister', {
    id: 'catalog',
    controller: 'catalog_filters',
    display: 4,
    parents: catalog_number,
    orderBy: "car-price ASC",
    depth: 5,
    addWhereList: "c.id not in (" ~ resource.id ~ ")",
    filters: "AND(tv:car-price:>:" ~ (price - 50000) ~ ";tv:car-price:<:" ~ (price + 50000) ~ ")",
    tvList:'car-price,old-car-price,credit_rate,car_photos,run,engine_power,gear,year,image',
    ownerTPL: '@T_FILE:partials/wrap',
    tpl:'@T_FILE:partials/catalogcard',
    paginate:'pages',
    TplNextP:'@CODE:<li><a href="[+link+]"><span class="next"></span></a></li>',
    TplPrevP:'@CODE:<li><a href="[+link+]"><span class="prev"></span></a></li>',
    TplPage:'@CODE:<li><a href="[+link+]">[+num+]</a></li>',
    TplCurrentPage:'@CODE:<li><a class="active-link-paginate" href="[+link+]">[+num+]</a></li>',
    TplWrapPaginate:'@CODE:<ul class="pages">[+wrap+]</ul>',
    noneTPL:'@T_FILE:partials/noitems',
    filter: 'filters',
    filterRangeSeparator: ':',
    filterValuesSeparator: '|',
    filterDelimiter: '||',
    __filterPriceId: 19,
    filterList: '42:dropdown;43:dropdown;19:range',
    filterCurrencyId: 'RUB',
    filterTpl: '@T_FILE:partials/filters/tpl',
    filterOwnerRange: '@T_FILE:partials/filters/ownerRange',
    filterTplRange: '@T_FILE:partials/filters/tplRange',
    filterOwnerCheckbox: '@T_FILE:partials/filters/ownerCheckbox',
    filterTplCheckbox: '@T_FILE:partials/filters/tplCheckbox',
    tvSortType: 'UNSIGNED'
}) %}
{% include('partials/crumbs.twig') %}
{% set complectation = runSnippet('multiTV', {tvName: 'equipment', docid: 'id', display:'all'}) %}
{% set car_photos = resource.car_photos | json %}
{% set car_photos = car_photos.fieldValue %}

{% set mounth_pay = resource['car-price'] / 72 %}
{% set mounth_pay = mounth_pay | round | number_format(0, '.', ' ') %}

<main class="item-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <h1>{{resource.pagetitle}}</h1>
            </div>
        </div><p class="car_photos" ></p>
        <div class="row">
            <div class="col-lg-8">
                <div class="photos">
                    <div class="slider-for">
                        {% if car_photos and count(car_photos)>0 %}
                        {% for image in car_photos %}
                        <div class="item"><img src="{{image.image}}"></div>
                        {% endfor %}
                        {% else %}
                        <div class="item"><img src="{{image.image}}"></div>
                        {% endif %}
                    </div>
                    <div class="slider-nav">
                        {% if car_photos and count(car_photos)>0 %}
                {% for image in car_photos  %}
                <div class="item"><img src="{{image.image}}"></div>
                {% endfor %}
                {% else %}
                <div class="item"><img src="{{image.image}}"></div>
                {% endif %}
                    </div>
                </div>
                <div class="data">
                                        <h2>Характеристики</h2>

                    <table>
                        <tr>
                            <td>Год выпуска</td>
                            <td>{{resource.year}}</td>
                        </tr>
                        <tr>
                            <td>Пробег</td>
                            <td>{{resource.run
                }} км</td>
                        </tr>
                        <tr>
                            <td>ПТС</td>
                            <td>{{resource.pts}}</td>
                        </tr>
                        <tr>
                            <td>Кол-во владельцев по ПТС</td>
                            <td>{% if resource.owners %}
                            {{resource.owners}}
                            {% else %}
                            Один
                            {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Поколение</td>
                            <td>{{resource.modification}}</td>
                        </tr>
                        <tr>
                            <td>Тип кузова</td>
                            <td>
                            {{resource.body_type}}
                            </td>
                        </tr>
                        <tr>
                            <td>Модификация</td>
                            <td>{{resource.engine_volume
                }} {{resource.gear
                }} ({{resource.engine_power
                }} л.с.)</td>
                        </tr>
                        {# <tr>
                            <td>Цвет</td>
                            <td>{{resource.car_color}}</td>
                        </tr> #}

                    </table>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="calc">
                    <h2>Выгода при покупке в кредит!</h2>
                    <p class="pb-2">Ставка от {% if baseSettings.credit_rate is empty %}
    4.9
{% else %}
    {{ baseSettings.credit_rate }}
{% endif %}% годовых!</p>
                    <div class="item">
                        Сумма кредита
                        <input type="text" id="amount" readonly>
                        <div id="slider-range-max"></div>
                    </div>
                    <div class="item">
                        Срок кредита
                        <input type="text" id="amount2" readonly>
                        <div id="slider-range-max2"></div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="item">
                               <span> Платеж от</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item">

                                <span id="payment">30 050 р/мес.</span>
                            </div>
                        </div>
                    </div>
                    {# <button type="button"data-toggle="modal" data-target="#oneclick">Рассчитать кредит</button> #}
                    <button class="btn" type="button" onclick="openPopupForm(this)"
                        data-title="{{resource.pagetitle}}"
                        data-image="{{ car_photos[0].image }}"
                        data-year="{{resource.year}}"
                        data-run="{{resource.run }}"
                        data-engine-volume="{{ resource.engine_volume }}"
                        data-gear="{{ resource.gear }}"
                        data-engine-power="{{ resource.engine_power }}"
                        data-price="{{ (resource['car-price'])|number_format(0, '.', '  ') }}"
                        data-old-car-price="{{ (resource['old-car-price'])|number_format(0, '.', '  ') }}"
                        data-mounth-pay="{{ mounth_pay }}">
                        Купить в кредит
                    </button>
                </div>
                <div class="price-block">
                    <div class="price">
                        {{ (resource['car-price'])|number_format(0, '.', '  ') }} ₽
                    </div>
                    <div class="oldprice">
                        {{ (resource['old-car-price'])|number_format(0, '.', '  ') }} ₽
                    </div>
                </div>
                <div class="flex">
                    <div class="nal">
                        <span></span> В наличии
                    </div>
                    <div class="special">
                        Специальное предложение
                    </div>
                </div>

                <div class="buttons">
                    {# <button type="button"data-toggle="modal" data-target="#oneclick">Забронировать</button> #}
                    {# <button type="button"data-toggle="modal" data-target="#oneclick">Получить предложение</button>
                    <button type="button"data-toggle="modal" data-target="#oneclick">Выгода по трейд-ин 250 000 ₽</button> #}
                    <button type="button" data-toggle="modal" data-target="#booking">Забронировать</button>
                    <button type="button" data-toggle="modal" data-target="#callback2">Получить предложение</button>
                    <button type="button" data-toggle="modal" data-target="#tradein">Выгода по трейд-ин 250 000 ₽</button>

                </div>
                <div class="icons-block">
                    <div class="row">
                        <div class="col-6">
                            <div class="item">
                                <img src="/templates/autodm3yellow/img/item-icon1.png">
                                {{resource.fuel
                }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item">
                                <img src="/templates/autodm3yellow/img/item-icon2.png">
                                {{resource.drive
                }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item">
                                <img src="/templates/autodm3yellow/img/item-icon3.png">
                                {{resource.gear
                }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item">
                                <img src="/templates/autodm3yellow/img/item-icon4.png">
                                {{resource.engine_power
                }} л.с.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mob-data">
                    <table>
                        <tr>
                            <td>Год выпуска</td>
                            <td>{{resource.year}}</td>
                        </tr>
                        <tr>
                            <td>Пробег</td>
                            <td>{{resource.run
                }} км</td>
                        </tr>
                        <tr>
                            <td>ПТС</td>
                            <td>{{resource.pts
                }}</td>
                        </tr>
                        <tr>
                            <td>Кол-во владельцев по ПТС</td>
                            <td>{% if resource.owners %}
                            {{resource.owners}}
                            {% else %}
                            Один
                            {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Поколение</td>
                            <td>{{resource.modification}}</td>
                        </tr>
                        <tr>
                            <td>Тип кузова</td>
                            <td>{{resource.body_type}}</td>
                        </tr>
                        <tr>
                            <td>Модификация</td>
                            <td>{{resource.engine_volume
                }} {{resource.gear
                }} ({{resource.engine_power
                }} л.с.)</td>
                        </tr>
                        {# <tr>
                            <td>Цвет</td>
                            <td>{{resource.car_color}}</td>
                        </tr> #}

                    </table>


                    </table>
                </div>


                <div class="icons-block">
                    <div class="row">
                        <div class="col-6">
                            <div class="item">
                                <img src="/templates/autodm3yellow/img/001-accept.png">
ДТП не найдены                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item">
                                <img src="/templates/autodm3yellow/img/002-good-review.png">
                                Банк одобряет данный а\м
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item">
                                <img src="/templates/autodm3yellow/img/003-good.png">
                                Записей об аресте не найдено
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item">
                                <img src="/templates/autodm3yellow/img/004-chat.png">
                                Машина не находится в залоге
                            </div>
                        </div>
                    </div>
                </div>
                {#<div class="buttons">
                    <button type="button"data-toggle="modal" data-target="#oneclick">Забронировать</button>
                    <button type="button"data-toggle="modal" data-target="#oneclick">Получить предложение</button>
                </div>#}
            </div>
        </div>
    </div>
    <div class="catalog-block">
	<div class="container-fluid catalog-products" id="catalog">
		<h2>Похожие автомобили</h2>
		{{DLCatalog |raw}}
	</div>
	<div class="bottom-button">
		<button onclick="window.location.href = '{{ makeUrl(27) }}';">Смотреть все <span></span></button>
	</div>
</div>
</div>
    {% include('partials/banks.twig') %}

</main>

{% set logoid = runSnippet('logo', {brand: resource["longtitle"] } )  %}
{{ runSnippet (DocInfo, {docid: logoid, field: image } ) }}
 {#<script type="text/javascript">
 var waitForJQuery = setInterval(function () {
    if (typeof $ != 'undefined') {

$( function() {
        $( "#slider-range-max" ).slider({
          range: "max",
          min: {{resource['car-price']}}/10,
          max: {{resource['car-price']}},
          value: 500000,
          slide: function( event, ui ) {
            $( "#amount" ).val( ui.value + " р.");
          }
        });
        $( "#amount" ).val( $( "#slider-range-max" ).slider( "value") + " р." );
      } );
        clearInterval(waitForJQuery);
    }
}, 10);
    </script>#}
<style>
.catalog-block .item .special {
    font-size: 12px;
    color: #9F5007;
    margin-bottom: 40px;
    padding: 0 10px 0 10px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #FFE6CF;
    border-radius: 5px;
    width: auto;
}
</style>

{% endblock %}
