{% set headermenu = runSnippet('DLMenu', {
    parents: baseSettings["id"],
    tvList: 'image',
    maxDepth: 1,
    rowTpl: '@CODE:<li><a href="[+url+]">[+pagetitle+]</a></li>',
    outerTpl: '@CODE:<ul>
        [+wrap+]</ul>'}) %}

    <div class="menubg"></div>
    <header class="header">
        <div class="container-fluid flex">
            <a href="/">
                {% if baseSettings["logo"] %}
                    <img src="{{baseSettings["logo"]}}" class="logoimg">
                {% else %}
                    <div  class="head_logo_text">{{ baseSettings.pagetitle }}</div>
                {% endif %}
            </a>
            
            {{ headermenu|raw}}

            <div class="contacts">
                <div class="head_info">
                    <span>{{ baseSettings.salon_location }}<br></span>
                    {{  runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1'}) | raw}}
                </div>                
                <button type="button"data-toggle="modal" data-target="#oneclick">Заказать звонок</button>
                <a class="menu-button"></a>
            </div>
        </div>

    </header>
    <style>
.logoimg{
    height: 45px;
}
.header .head_info {
    font-size: 14px;
}

.head_logo_text{
    width: 110px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    color: #D12D1E;
}
@media (max-width: 435px) {
    .logoimg{
        height: 36px;
    }
    .header .contacts {
        width: 70%;
    }
    .header .head_info {
        font-size: 12px;
    }
}
@media (max-width: 382px) {
    .logoimg{
        height: 36px;
    }
    .header .contacts {
        width: 66%;
    }
}

    </style>


